# Ignorer virtuelle miljømapper
.venv/
venv/

# Ignorer Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignorer Python cache-filer
__pycache__/
*.pyc

# Ignorer macOS-specifikke filer
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

